<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="quartz" type=" System.Configuration.NameValueSectionHandler" />
  </configSections>

  <!--Quartz 配置-->
  <quartz>
    <!--线程池配置-->
    <!--线程池类型-->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.DefaultThreadPool, Quartz" />
    <!--线程池数量-->
    <add key="quartz.threadPool.threadCount" value="10" />
    <!--优先权-->
    <add key="quartz.threadPool.threadPriority" value="Normal" />

    <!--持久化配置-->
    <!--序列化方式-->
    <add key="quartz.serializer.type" value="json" />
    <!--<add key="quartz.serializer.type" value="binary" />-->
    <!--持久化类型-->
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <!--数据库表名前缀-->
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
    <!--持久化委托类型-->
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.MySQLDelegate, Quartz" />
    <!--数据源,和下面两个配置一定要一样-->
    <add key="quartz.jobStore.dataSource" value="myDS" />
    <!--连接字符串-->
    <add key="quartz.dataSource.myDS.connectionString" value="server=localhost;database=myquartz;user=root;pwd=admin" />
    <!--<add key="quartz.dataSource.myDS.connectionString" value="server=localhost;database=myquartz;user=root" />-->
    <!--数据库-->
    <add key="quartz.dataSource.myDS.provider" value="MySql" />
    <!--哑火忍耐时间,单位:毫秒-->
    <add key="quartz.jobStore.misfireThreshold" value="2000" />
    <!--是否配置集群-->
    <add key="quartz.jobStore.clustered" value="true" />
    <!--调度器Id是否自动配置-->
    <add key="quartz.scheduler.instanceId" value="AUTO" />
    <!--调度器名称-->
    <add key="quartz.scheduler.instanceName" value="wechat" />

    <!--远程调度配置-->
    <!--本框架没有用到远程调度-->
    <!--<add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz"/>
    <add key="quartz.scheduler.exporter.port" value="555"/>
    <add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler"/>
    <add key="quartz.scheduler.exporter.channelType" value="tcp"/>
    <add key="quartz.scheduler.exporter.channelName" value="httpQuartz"/>
    <add key="quartz.scheduler.exporter.rejectRemoteRequests" value="true"/>-->
  </quartz>

  <appSettings>
    <add key="ApiAddress" value="http://localhost:25250" />
    <!--0:控制台;1:文本-->
    <add key="LogWriter" value="0" /> 
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>