<configuration>

  <!--线程池配置-->
  <!--线程池类型-->
  quartz.threadPool.type = Quartz.Simpl.DefaultThreadPool, Quartz
  <!--线程池数量-->
  quartz.threadPool.threadCount = 10
  <!--优先级-->
  quartz.threadPool.threadPriority = Normal


  <!--持久化配置-->
  <!--序列化方式-->
  quartz.serializer.type = json
  <!--quartz.serializer.type = binary-->
  <!--持久化类型-->
  quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
  <!--数据库表名前缀-->
  quartz.jobStore.tablePrefix = QRTZ_
  <!--持久化委托类型-->
  quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.MySQLDelegate, Quartz
  <!--数据源,和下面两个配置一定要一样-->
  quartz.jobStore.dataSource = myDS
  <!--连接字符串-->
  <!--quartz.dataSource.myDS.connectionString = server=localhost;database=myquartz;user=root-->
  quartz.dataSource.myDS.connectionString = server=localhost;database=myquartz;user=root;pwd=admin
  <!--数据库-->
  quartz.dataSource.myDS.provider = MySql
  <!--哑火忍耐时间,单位:毫秒-->
  quartz.jobStore.misfireThreshold = 2000
  <!--是否配置集群-->
  quartz.jobStore.clustered = true
  <!--调度器Id是否自动配置-->
  quartz.scheduler.instanceId = AUTO
  <!--调度器名称-->
  quartz.scheduler.instanceName = wechat

  <!--远程调度配置-->
  <!--本框架没有用到远程调度-->
  <!--quartz.scheduler.exporter.type = Quartz.Simpl.RemotingSchedulerExporter, Quartz
  quartz.scheduler.exporter.port = 555
  quartz.scheduler.exporter.bindName = QuartzScheduler
  quartz.scheduler.exporter.channelType = tcp
  quartz.scheduler.exporter.channelName = httpQuartz
  quartz.scheduler.exporter.rejectRemoteRequests = true"-->
</configuration>
